**/node_modules/
dist/


### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

**/build

## firebase
packages/**/.firebase/**

**/.DS_Store
.DS_Store
packages/react-gtm/.env
test-analytics