:root {
  --dark: #282c35;
  --onDarkText: rgba(255, 255, 255, 0.9);
}

body {
  margin: 0 0 5em 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--onDarkText);
  background-color: var(--dark);
  overflow-x: hidden;
}

a {
  /* //fixme: make it customizable in external ui package */
  color: var(--onDarkText) !important;
  text-decoration: none;
  color: unset;
}
